/* Prism.js 테마 */
@import 'prismjs/themes/prism.css';
@import 'prismjs/themes/prism-tomorrow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전역 스타일 */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

/* Prism 코드 블록 커스텀 스타일 */
pre[class*='language-'] {
  border-radius: 0.5rem;
  margin: 0.5rem 0 !important;
  padding: 1rem !important;
  background: #242424;
  border: 1px solid #8f8c8c;
}

code[class*='language-'] {
  font-size: 0.875rem;
  text-shadow: none !important; /* 글자 그림자 제거 */
}

/* Prism 토큰 그림자 제거 */
.token {
  text-shadow: none !important;
}

/* operator 토큰 배경 제거 */
.token.operator {
  background: none !important;
}
